<div class="row my-5 justify-content-center">
    <div class="col-10 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header">
                <h3><%=title%></h3>
            </div>
            <div class="card-body">
                <form name="frm">
                    <input class="form-control mb-3" name="email" value="blue@test.com">
                    <input class="form-control mb-3" type="password" name="pass" value="12341234">
                    <button class="btn btn-primary w-100">로그인</button>
                </form>
                <div class="text-end mt-3">
                    <a href="/users/join">회원가입</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- config.js 에서 export 한 변수를 사용하기 위해 type="module" 을 설정해줌 -->
<script type="module">
    import {app} from '/javascripts/config.js'
    import {getAuth, signInWithEmailAndPassword} from "https://www.gstatic.com/firebasejs/10.13.2/firebase-auth.js"
    const auth = getAuth(app);

    // 로그인 버튼을 클릭한 경우
    $(frm).on("submit", function(e) {
        e.preventDefault();
        const email = $(frm.email).val();
        const pass = $(frm.pass).val();

        signInWithEmailAndPassword(auth, email, pass).then(success => {
            alert("로그인 성공!");
            sessionStorage.setItem("email", email);
            if(sessionStorage.getItem("target")) {
                location.href = sessionStorage.getItem("target");
            } else {
                location.href = "/";
            }
        }).catch(error => {
            alert("로그인 실패ㅠ : " + error.message);
        });
    })
</script>