<div class="row">
    <h1 class="text-center my-5"><%=title%></h1>
    <div class="row mb-2">
      <form name="frm" class="col-6 col-md-4">
        <div class="input-group">
          <input name="query" class="form-control" value="자바">
          <button class="btn btn-primary">검색</button>
        </div>
      </form>
    </div>
    <div id="div_list" class="row"></div>
    <div class="text-center">
      <button id="prev" class="btn btn-primary">이전</button>
      <span id="page" class="mx-3">1</span>
      <button id="next" class="btn btn-primary">다음</button>
    </div>
    <script id="temp_list" type="x-handlebars-template/">
      {{#each documents}}
        <div class="col-6 col-lg-2 col-md-3 mb-3">
          <div class="card">
            <div class="card-body">
              <a href="/kakao/book/info?title={{title}}&thumbnail={{thumbnail}}&price={{price}}&authors={{authors}}&publisher={{publisher}}&isbn={{isbn}}&contents={{contents}}">
                <img src="{{funThumbnail thumbnail}}" width="100%">
              </a>
            </div>
            <div class="card-footer">
              <div class="ellipsis" style="font-size: 12px;">{{title}}</div>
              <div>{{price}}원</div>
            </div>
          </div>
        </div>
      {{/each}}
    </script>
    <script>
      Handlebars.registerHelper("funThumbnail", function(thumbnail) {
        if(thumbnail) return thumbnail;
        else return "http://via.placeholder.com/120x174"; 
      })
    </script>
</div>
<script>
  let query = "자바";
  let size = 12;
  let page = 1;
  
  getList();
  
  $(frm).on("submit", function(e) { // submit이 되지 않도록
    e.preventDefault(); // submit이 되지 않음 ? 
    query = $(frm.query).val();
    getList();

    if(query == '') {
      alert("검색어를 입력하세요!");
    } else {
      getList();
    }
  });

  // $("#div_list").on("click", "img", function() {
  //   location.href="/kakao/book/info";
  // });

  // 다음 버튼 클릭했을 때
  $("#next").on("click", function() {
    page++;
    getList();
  });

  $("#prev").on("click", function() {
    page--;
    getList();
  });

  function getList() {
        
        $.ajax({
            type: "GET",
            url: "https://dapi.kakao.com/v3/search/book?target=title",
            data: {
                query,
                size: size,
                page: page
            },
            headers: {
                "Authorization": "KakaoAK d5ca2794177c46d956d70d33a3c8e99d"
            },
            success: function(data) {
                console.log(data);
                const temp = Handlebars.compile($("#temp_list").html());
                $("#div_list").html(temp(data));

                const last = Math.ceil(data.meta.pageable_count/size);
                $("#page").html(`${page}/${last}`);

                if(page == 1) {
                  $("#prev").attr("disabled", true);
                } else {
                  $("#prev").attr("disabled", false);
                }

                if(data.meta.is_end) {
                  $("#next").attr("disabled", true);
                } else {
                  $("#next").attr("disabled", false);
                }
            }
        });
    }
</script>