<!-- Button trigger modal -->
 <!-- 처음것만 출력하므로 수정해줘야함 {{@index}}를 해주면 각 책에 대한 정보를 출력할 수 있음 -->
<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{@index}}"> 
    정보
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop{{@index}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">도서정보</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                        <img src="{{thumbnail}}" width="100%">
                    </div>
                    <div class="col">
                        <h5>{{title}}</h5>
                        <hr>
                        <div>저자 : {{authors}}</div>
                        <div>가격 : {{price}}원</div>
                        <div>출판사 : {{publisher}}</div>
                        <div>ISBN : {{isbn}}</div>
                        <div>출판일 : {{datetime}}</div>
                    </div>
                </div>
                <hr>
                <div>{{contents}}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Understood</button> -->
            </div>
        </div>
    </div>
</div>