<div class="my-5 row justify-content-center">
    <h1 class="text-center"><%=title%></h1>
    <div class="col-10">
        <div class="text-end mb-2 buttons" style="display: none;">
            <button class="btn btn-success btn-sm update">수정</button>
            <button class="btn btn-danger btn-sm delete">삭제</button>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 id="title"></h5>
                <hr>
                <div id="contents" style="white-space: pre-wrap"></div>
            </div>
            <div class="card-footer">
                Posted By <span id="email"></span> on <span id="date"></span>
            </div>
        </div>
        <%-include("reply.ejs")%>
    </div>
</div>

<script type="module">
    import {app} from '/javascripts/config.js'
    import {getFirestore, doc, getDoc, deleteDoc} from "https://www.gstatic.com/firebasejs/10.13.2/firebase-firestore.js"; //onValue는 데이터베이스에 있는 값을 가져오기 위함
    const db = getFirestore(app);

    const id = "<%=id%>";
    // console.log('id', id);
    const snapshot = await getDoc(doc(db, `bbs/${id}`));

    if(snapshot.exists()) {
        const bbs = snapshot.data();
        $("#title").html(bbs.title);
        $("#contents").html(bbs.contents);
        $("#email").html(bbs.email);
        $("#date").html(bbs.date);

        if(email == bbs.email) $(".buttons").show();
    }

    // 삭제 버튼을 클릭한 경우 (시험에 나옴, 짝꿍)
    $(".delete").on("click", async function() {
        if(confirm("게시글을 삭제하시겠습니까?")) {
            // 삭제
            await deleteDoc(doc(db, `bbs/${id}`));
            location.href = "/bbs";
        }
    });

    // 수정 버튼을 클릭한 경우
    $(".update").on("click", function() {
        location.href = `/bbs/update/${id}`;
    });
</script>