<div class="row justify-content-center my-5">
    <h1 class="text-center mb-5"><%=title%></h1>
    <div class="col-md-10">
        <form name="frm">
            <input name="title" class="form-control mb-2" placeholder="제목을 입력하세요.">
            <textarea name="contents" class="form-control" rows="10" placeholder="내용을 입력하세요."></textarea>
            <div class="text-center mt-3">
                <button class="btn btn-primary px-5">등록</button>
                <button type="reset" class="btn btn-secondary px-5">취소</button>
            </div>
        </form>
    </div>
</div>
<script type="module">
    import {app} from '/javascripts/config.js'
    import {getFirestore, collection, addDoc }  from "https://www.gstatic.com/firebasejs/10.13.2/firebase-firestore.js";
    const db = getFirestore(app);

    $(frm).on("submit", async function(e){
        e.preventDefault();
        const title=$(frm.title).val();
        const contents=$(frm.contents).val();
        if(title == "") {
            alert("제목을 입력하세요!");
            $(frm.title).focus();
        }else{
            //게시글 등록
            const date=moment(new Date()).format("YYYY-MM-DD HH:mm:ss");
            await addDoc(collection(db, "bbs"), {email, date, title, contents});
            alert("게시글 등록완료!");
            location.href="/bbs";
        }
    });
</script>