<div>
    <h1 class="text-center my-5"><%=title%></h1>
    <div class="row">
        <form name="frm" class="col-md-4 mb-3">
          <div class="input-group">
            <input name="query" class="form-control" value="Node.js">
            <button class="btn btn-dark">검색</button>
          </div>
        </form>
    </div>
    <div id="div_list"></div>
    <div class="text-center">
        <button id="prev" class="btn btn-primary">이전</button>
        <span id="page" class="mx-3">1</span>
        <button id="next" class="btn btn-primary">다음</button>
    </div>
    <!-- 도서 목록을 예쁘게 출력해줄 템플릿 -->
    <script id="temp_list" type="x-handlebars-template"> 
        <table class="table table-striped">
            {{#each documents}}
            <tr>
                <td><img src="{{funcThumbnail thumbnail}}" width="50px"></td>
                <td>{{title}}</td>
                <td>{{price}}</td>
                <td>{{authors}}</td>
                <td width="90"><%-include('modal_book.ejs')%></td>
                <td width="70"><button class="btn btn-success btn-sm cart" info="{{funToString @this}}">카트</button></td>
            </tr>
            {{/each}}
        </table>
    </script>
    <script>
        Handlebars.registerHelper("funcThumbnail", function(thumbnail) {
            if(thumbnail) return thumbnail;
            else return "/images/no_image.png";
        });

        Handlebars.registerHelper("funToString", function(book) {
            return JSON.stringify(book);
        });
    </script>
</div>
<script type="module">
    import { app } from '/javascripts/config.js'
    import { getDatabase, ref, set, get } from "https://www.gstatic.com/firebasejs/10.13.2/firebase-database.js"
    const db = getDatabase(app);

    let query = $(frm.query).val();
    let page = 1;
    let size = 5;

    getList();

    // 각행의 카트 버튼을 클릭한 경우
    $("#div_list").on("click", ".cart", async function() {
        if(email) {
            // 장바구니 넣기
            const book = JSON.parse($(this).attr("info"));
            const ref_cart = ref(db, `cart/${uid}/${book.isbn}`);
            const snapshot = await get(ref_cart); // 비동기 함수

            if(snapshot.val()) {
                alert("장바구니에 이미 존재합니다.");
            } else {
                await set(ref_cart, book);
                alert("장바구니에 추가되었습니다!");
            }
        } else {
            sessionStorage.setItem("target", window.location.href);
            location.href = "/users/login";
        }
    })
    // 이전버튼 클릭 시 발생할 이벤트
    $("#prev").on("click", function() {
        page--;
        getList();
    });

    // 다음버튼 클릭 시 발생할 이벤트
    $("#next").on("click", function() {
        page++;
        getList();
    });


    $(frm).on("submit", function(e) {
        e.preventDefault();
        getList();
        if(query == ""){
            alert("검색어를 입력해주세요.");
        } else {
            getList();
        }
    });
    
    // 도서목록 함수
    function getList() {
        query = $(frm.query).val();
        $.ajax({
            type: "GET",
            url: "https://dapi.kakao.com/v3/search/book?target=title",
            data: {
                query,
                size: 5,
                page: page
            },
            headers: {
                "Authorization": "KakaoAK d5ca2794177c46d956d70d33a3c8e99d"
            },
            success: function(data) {
                // console.log(data);
                const temp = Handlebars.compile($("#temp_list").html());
                $("#div_list").html(temp(data));

                const last = Math.ceil(data.meta.pageable_count / size);
                $("#page").html(page + " / " + last);
                if (page == 1) {
                    $("#prev").attr("disabled", true);
                } else {
                    $("#prev").attr("disabled", false);
                }

                if(data.meta.is_end) {
                    $("#next").attr("disabled", true);
                } else {
                    $("#next").attr("disabled", false);
                }

            }
        });
    }
</script>