<div class="mt-5">
    <a href="/" class="me-3">Home</a>
    <a href="/kakao/book" class="me-3">도서검색</a>
    <a href="/kakao/local" class="me-3">지역검색</a>
    <a href="/kakao/blog" class="me-3">블로그검색</a>

    <a id="login" href="/users/login" class="me-3" style="float: right;">로그인</a>
    <a id="logout" href="#" class="me-3" style="float: right;">로그아웃</a>
    <a id="mypage" href="/users/mypage" class="me-3" style="float: right;">마이페이지</a>
    <hr>
</div>
<script>
    const email = sessionStorage.getItem("email");
    if(email) { // 로그인 상태
        $("#login").hide();
        $("#mypage, #logout").show();
        $("#mypage").html(email);
    } else { // 로그아웃 상태
        $("#login").show();
        $("#mypage, #logout").hide();
    }

    $("#logout").on("click", function(e) {
        e.preventDefault();
        if(confirm("정말 로그아웃 하시겠습니까?")) {
            sessionStorage.clear();
            location.href = "/";
        }
    })
</script>